/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$blue: 				#22AFE5;
$purple:			#7F217B;
$orange:			#EE973D;

$black:             #000;
$white:             #fff;
$grey:				#5f5f5f;
$dark-grey:			#2A2D29;
$grey-border:		#838383;
$grey-opacity:		rgba(42, 45, 41, 0.85);

$link-color:        $blue;
$link-hover:        darken($link-color, 9%);

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/


/*********************
TYPOGRAPHY
*********************/


$sans:         "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; 
$serif:        "Georgia", Cambria, Times New Roman, Times, serif; 

